<div class="container py-3">
  <h1>Edit Task</h1>
  <%= simple_form_for(@task) do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.check_box :completed %>
    <%= f.submit %>
  <% end %>
</div>
